# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/myenv
# C extensions
*.so
/myvenv
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Flask specific
instance/
*.pyc

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Vim
*.swp

# macOS
.DS_Store

# MySQL database files
# *.sql

# Environment variables
.env

# Migrations
migrations/

# Static and media files
app/static/*
!app/static/.keep
app/media/*
!app/media/.keep

# Log files
*.log

# Local dev environment configuration
# config.py

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Test output
.pytest_cache/
junit.xml
test-reports/
